<html>
<head>
    <title>Información</title>
    <link rel="stylesheet" href="~/styles.css" />
    <link rel="stylesheet" href="~/normalize.css" />
</head>
<body>

    <div class="inicionav">
        <nav class="nav">
            <img src="~/logotec.png" />
            <h1>Información</h1>
            <div>
                <a href="~/home/index">Página principal</a>
                <a href="~/Home/Perfil">Mi perfil</a>
            </div>
        </nav>
    </div>





    <div class="info">
        <h2>Materia:</h2>
        <h3>Programacion web</h3>

        <h2>Semestre:</h2>
        <h3>Septimo semestre</h3>

        <h2>Periodo:</h2>
        <h3>Agosto - Diciembre</h3>

        <h2>Nombre del alumno:</h2>
        <h3>Carlos Cuautle Zacamitzin</h3>
    </div>
</body>
</html>