<html>
<head>
    <title>Información</title>
    <link rel="stylesheet" href="~/styles.css" />
    <link rel="stylesheet" href="~/normalize.css" />
</head>
<body>
    <div class="inicionav">
        <nav class="nav">
            <img src="~/logotec.png" />
            <h1>Mi Perfil</h1>

            <div>
                <a href="~/Home/Index">Página principal</a>
                <a href="~/Home/Perfil">Mi perfil</a>

            </div>
        </nav>
    </div>

    <div class="imgeinfo">

        <img src="~/Yo.jpg" />
        <div class="perfil">
            <div>
                <h2>Nombre:</h2>
                <h3>Carlos Cuautle Zacamitzin</h3>
            </div>

            <div>
                <h2>Ciudad:</h2>
                <h3>Sabinas</h3>
            </div>

            <div>
                <h2>Telefono:</h2>
                <h3>8616151832</h3>
            </div>

            <div>
                <h2>Carrera:</h2>
                <h3>Ingenieria en sistemas computacionales</h3>
            </div>

            <div>
                <h2>Numero de control:</h2>
                <h3>191G0235</h3>
            </div>
        </div>
    </div>
</body>
</html>
